videos
venv
uploads
__pycache__
app/__pycache__
uploaded_videos
processed_videos
processed_original
cameras
person-attributes-recognition-crossroad-0234.onnx
person-attributes-recognition-crossroad-0234.onnx.prototxt
yolov9e.onnx
yolov9e.onnx.prototxt
yolov3-modanet.opt.onnx
yolov3-modanet.opt.onnx.prototxt
guy.png
output_with_bboxes.png
clips
.env
.env
